{{#if openUpdateCommentForm}}
<form>
  <label for="name">Name</label>
  {{input value=name id=name}}

  <label for="content">Comment</label>
  {{input value=content id=content}}
<br>
  <button {{action 'saveUpdate' comment}}>Save</button>
</form>
{{else}}
  <button {{action 'updateComment'}}>Update Comment</button>
{{/if}}
