{{model.name}}
<img src={{model.image}}>
{{model.description}}
{{model.website}}
{{model.product}} <br><br>

{{update-vendor update='update' vendor=model}}
<br>

{{add-comment addComment='addComment' vendor=model}}
<br>
<div class="table-responsive">
  <tr>
  <th>Comments</th>
  </tr>
  <table class="table">
  {{#each model.comments as |comment|}}
  <tr>
    <td>{{comment.content}} by {{comment.name}} on {{current-date}}</td>
    <td><button class="btn btn-xs btn-danger"{{action 'deleteComment' comment}}>Delete</button></td>
    <td>{{update-comment saveUpdate='saveUpdate'comment=comment}}</td>
  </tr>
    {{/each}}
  </table>
</div>
