{{model.name}}
<img src={{model.image}}>
{{model.description}}
{{model.website}}
{{model.product}} <br><br>

{{update-vendor update='update' vendor=model}}
<br>

{{add-comment addComment='addComment' vendor=model}}
<br>
{{#each model.comments as |comment|}}
 {{comment.content}} by {{comment.name}} on {{current-date}}
 <button {{action 'deleteComment' comment}}>Delete</button>
{{update-comment saveUpdate='saveUpdate'comment=comment}}
{{/each}}
